<!DOCTYPE html>
<html lang="zh" class="">

<head>
    <meta charset="utf-8" />
    <title>render</title>
</head>

<body>
    <h1><%= title %></h1>
    
    <style>
    body {
        font-size: 13px;
        color: #333;
    }
    
    </style>
</body>

</html>